@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  /* Paleta de cores */
  --fundo-body: #292e34;

  /* Tipografia */
  --fonte-principal: "Nunito", sans-serif;

  /* Paleta principal */
  --cor-cabecalho: #f6f7fa;

  /* Estrutura e sombras */
  --sombra-padrao: 0 2px 4px rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--fundo-body);
  font-family: var(--fonte-principal);
  line-height: 1.5;
  height: 100vh;
}

header {
  background-color: var(--cor-cabecalho);
  box-shadow: var(--sombra-padrao);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  display: flex;
  height: 80px;
  width: 100vw;
}

#icone-estacionamax {
  margin-bottom: 5px;
  margin-left: 15px;
  max-width: 100%;
  height: auto;
}

#icone-sair {
  margin-top: 5px;
  height: 70px;
  width: auto;
  cursor: pointer;
}

main {
  background-image: url(../../HTML/Image/Fundos/Error/Error404.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: not-allowed;
  min-height: 100vh;
  min-width: 100vw;
}
