@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --fonte-principal: "Nunito", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-principal);
    line-height: 1.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

main {
    background-image: url(../../HTML/Image/login/fundo.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#conteiner-login {
  animation: fadeIn 0.8s ease forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2e2f33;
  width: 390px;
  height: 400px;
  gap: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgb(20, 20, 20);
}

@keyframes fadeIn {
     from {
        opacity: 0;
        transform: translateY(10px); /* leve subida pra dar suavidade */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#logoLogin {
  background-color: #ffffff;
  border-radius: 40px;
  width: 210px;
  height: 60px;
  padding-right: 10px;
  margin-bottom: 25px;
}

#formularioLogin {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}

#formularioLogin input {
  width: 290px;
  padding: 13px;
  border-radius: 20px;
  color: black;
  font-weight: bold;
  outline: none;
  border: none;
  border: 2px solid transparent;
}

#formularioLogin input:focus {
  border: 2px #e9bb25 solid;
}

.campo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.campo i {
  position: absolute;
  color: rgb(78, 77, 77);
  top: 13px;
  right: 25px;
  font-size: 1.2rem;
}

#iconeEmail {
  top: 10px;
}

#botao-icone-senha {
  background-color: transparent;
  border: none;
  cursor: pointer;
}


#link-senha a {
  margin-left: 10px;
  text-decoration: none;
  color: rgb(223, 223, 223);
  font-weight: 600;
  transition: 0.2s ease-in-out;
}

#link-senha a:hover {
  text-decoration: underline;
  color: rgb(177, 176, 176);
}

#link-senha a:visited {
  color: rgb(223, 223, 223);
}

#botaoEnviar {
  margin-top: 20px;
  cursor: pointer;
  padding: 12px;
  font-weight: bold;
  font-size: 15px;
  background-color: #e9bb25;
  border: none;
  transition: 0.2s;
  border-radius: 4px;
}

#botaoEnviar:hover {
  background-color: #f7be45f5;
}
